@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Spectral:wght@300&display=swap');

.page {
    /* background-color: rgb(188, 177, 165); */
    padding-left: 40px;
    height: 875px;
}

/* .space {
    padding-bottom
} */

.homepage h1 {
    padding: 0px;
}

.homepage strong {
    color: rgb(118, 115, 110);
    font-size: 1.4em;
}

#opening-text {
    height: 500px;
    padding-top: 250px;
}

#opening-text h4{
    padding-top: 20px;
    padding-bottom: 20px;
}

#opening-text h5{
    padding-top: 20px;
    padding-bottom: 20px;
}

.hm-outfits-btn {
    text-decoration: none;
    color: white;
    outline: 1px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hm-outfits-btn:hover {
    background-color: rgb(146, 140, 132);
    color: white;
    outline: none;
}

.hm-add-outfit-btn {
    background-color: rgb(188, 177, 165);
}

.hm-add-outfit-btn:hover {
    color: white;
    background-color: rgb(146, 140, 132);
}

#homepage-main-img {
    height: 600px;
}

#opening-img {
    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    font-family: 'Spectral', serif;
    /* background-color: rgb(188, 177, 165); */
}

.navbar {
    padding: 0px;
}

.navbar-brand {
    font-size: 30px;
    color: rgb(138, 127, 109);
    margin-left: 10px;
}

.filler {
    height: 350px;
}

h1 {
    padding-top: 30px;
}

.outfit-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding: 10px;
}

.outfit-title {
    padding-bottom: 20px;
    position: relative;
    right: 0px;
    text-align: center;
}

.outfit-img-title {
    height: 350px;
    width: 300px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.outfits-page-top{
    display: flex;
}

.outfit-details {
    margin-top: 70px;
    padding:10px;
    color:rgb(71, 66, 60);
    border-radius: 15px;
}

.desc {
    background-color:rgb(207, 200, 191);
    padding: 20px;
    /* border-radius: 15px; */
}

.outfit-details-img{
    object-fit: cover;
}

.favorites-details {
    outline: 1px solid white;
    height: 250px;
    margin-top: 25px;
    border-radius: 10px;
    position: relative;
}

.favorite-date-time {
    position: absolute;
    bottom: 10px;
}

.active { 
    /* font-weight: bold; */
    text-decoration: underline;
}

.outfit-img-icon {
    position: relative;
}

.bookmark-icon {
    /* visibility: hidden; */
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
}

.heart-icon {
    position: absolute;
    top: 22px;
    right: 21px;
    font-size: 25px;
}

.outfit-img-icon .active {
    visibility: visible;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 45px;
}

.outfit-img-icon {
    width:300px;
    height: 300px;
    padding: 10px;
}

.outfit-img-icon .outfit-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .outfit-img-icon:hover .bookmark-icon {
    visibility: visible;
} */

.favorite-card {
    background-color: rgb(188, 177, 165);
}

body,
html {
    height: 100px;
    background-color: rgb(188, 177, 165);
}

/* .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
} */

.container-section {
    display: flex;
    flex-flow: column nowrap;
    /* height: 100%; */
  }
  
  main {
    flex: 1;
  }

.footer {
    background-color: rgb(138, 127, 109);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    left: 0px;
    right: 0px;
    /* bottom: 0px; */
    position: relative;
    width: 100%;
}

