@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Spectral:wght@300&display=swap');

.homepage h1 {
    padding: 0px;
}

.homepage strong {
    color: rgb(118, 115, 110);
    font-size: 1.4em;
}

#opening-text {
    height: 500px;
    padding-top: 250px;
}

#opening-text h4{
    padding-top: 20px;
    padding-bottom: 20px;
}

.hm-outfits-btn {
    text-decoration: none;
    color: white;
    outline: 1px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hm-outfits-btn:hover {
    background-color: rgb(146, 140, 132);
    color: white;
    outline: none;
}

.hm-add-outfit-btn {
    background-color: rgb(188, 177, 165);
}

.hm-add-outfit-btn:hover {
    color: white;
    background-color: rgb(146, 140, 132);
}

#homepage-main-img {
    height: 600px;
}

#opening-img {
    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    font-family: 'Spectral', serif;
    background-color: rgb(188, 177, 165);
}

.navbar {
    padding: 0px;
}

.navbar-brand {
    font-size: 30px;
    color: rgb(242, 236, 236);
}

.filler {
    height: 350px;
}

h1 {
    padding-top: 30px;
}

.outfit-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding: 10px;
}

.outfit-title {
    padding-bottom: 20px;
    position: relative;
    right: 0px;
    text-align: center;
}

.outfit-img-title {
    height: 350px;
    width: 300px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.outfits-page-top{
    display: flex;
}

.outfit-details {
    margin-top: 70px;
    padding:10px;
    color:rgb(71, 66, 60);
    border-radius: 15px;
}

.desc {
    background-color:rgb(207, 200, 191);
    padding: 20px;
    /* border-radius: 15px; */
}

.outfit-details-img{
    object-fit: cover;
}